

/* BASE */

body {
    font-family: 'assets/Basel-Regular.otf', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    cursor: crosshair;
    background-color: white;

    width: auto;

}

h2 {
  font-family: 'assets/Basel-Regular.otf', sans-serif;
  font-size: 48px;
  font-weight: none;
  color: black;



}

h1 {
  color: black;
}

p {
  color: white;
  font-family: 'assets/Basel-Regular.otf', sans-serif;
  padding: 3px;
}
a {
    color: black;
}

.navbar {
  position: sticky;
    background-color: white;
    padding-top: 5px;

}



.navbar-logo img {

 width: auto;
margin-top: 5px;
}

.navbar-menu {
    display: flex;
    font-size: 0.75rem;

}



.navbar-item:hover {
    background-color: white;
    /*color: white; */
}

.hero {
    display: flex;
    align-items: center;
    text-align: left;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
}


.title {
  font-size: 64px;
  color: white;
    font-weight: 400;
    padding: 5px;
}
.logo {
  padding-left: 4px;
}
.title.large {
    font-size: 1rem;
    color: white;
}

.section {
    /*padding: 4rem 0; */
}

.intro {
    text-align: left;
}

.intro p {
    font-size: 1.25rem;
}

.intro p:not(:last-child) {
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    -webkit-appearance: none;
     text-decoration: none;
    background-color: black;
     border: 1px, solid red;
    border-radius: 999px;
    padding: 0.5rem 1.5rem;
    text-align: center;
  text-decoration: none;
   /* transition: all 100ms; */
}

.small {
  color: darkgrey;
  font-size: 14px;

}
.button2 {
     display: flex;
  /*-webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;*/
  -webkit-appearance: none;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  color: white;
   border-radius: 999px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}
.button2:hover {

    background-color: white;
    color: black;
}

.sub {
  font-family:'assets/Basel-Light.otf', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.8;
}

.columns {
    margin: 3px;
}

.columns.multiline {
    flex-wrap: wrap;
}

.column {
    padding: 1rem;
}

.column.one-third {
    width: 100%;
}



@media screen and (min-width: 800px) {
    .columns {
        display: flex;

    }

    .column.one-third {
      flex: 1;

    }
}
